body{
    background-image: url(../img/circuito2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
}
/* variables */
:root{
    --colorIcons: #ffffff;
    --navTextColor:rgb(184, 191, 206);
}
/* fuente para titulos */
@font-face{
    src: url(../fonts/romance_fatal_serif/romance_fatal_serif_JC_Fonts.ttf);
    font-family: 'titulos';
}
/*creacion del grid*/
.gridHeader{
    grid-area: gridHeader;
}
.gridMenu{
    grid-area: gridMenu;
    overflow-x: hidden;
    width: 260px;
    background: rgba(3, 71, 119,.8);
}
.Container{
    grid-area: gridContainer;
    padding-left: 1em;
}
.grid-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: 60px auto;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas: "gridMenu gridHeader"
                        "gridMenu gridContainer" ;
}
.show{
    display: block;
}
.hide{
    display: none;
}
/*creacion del grid*/
/*seccion del header*/
.gridHeader{
    background: rgb(3,4,94);
    background: -moz-linear-gradient(90deg, rgba(3,4,94,.9) 0%, rgba(0,150,199,0.9) 61%, rgba(72,202,228,.9) 89%);
    background: -webkit-linear-gradient(90deg, rgba(3,4,94,.9) 0%, rgba(0,150,199,.9) 61%, rgba(72,202,228,.9) 89%);
    background: linear-gradient(90deg, rgba(3,4,94,.9) 0%, rgba(0,150,199,.9) 61%, rgba(72,202,228,.9) 89%);
}
.header{
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spanMenu,
.btnPerfil{
    color: var(--colorIcons);
    font-size: 1.8em;
}
/* .spanMenu{
    display: none;
} */
.ciencias{
    display: flex;
    align-items: center;
    height: 85%;
    border-radius: 1.5em;
    background-color: rgba(255,255,255,.4);
}
.ciencias img{
    max-height: 100%;
    object-fit: contain;
}
.ciencias h1{
    font-family: 'titulos',cursive,serif;
    font-size: 1.5em;
    text-transform: capitalize;
    color: var(--colorIcons);
}
/*seccion del header*/
/*seccion del nav*/

.sidebar{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(15,14,14);
    background: linear-gradient(90deg, rgba(15,14,14,.9) 100%, rgba(31,28,28,.9) 100%);
    overflow: hidden;
}
.sidebar a{
    color:var(--navTextColor);
    padding-bottom: 0.5em;
    text-decoration: none;
    transition: color 0.2s;
}
.sidebar a:hover{
    color: var(--colorIcons);
}
.sidebar .sidebar-content{
    overflow-y: auto;
}
.sidebar-content .inicio{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid#c0c0c0;
}
.inicio > a{
    font-family: 'titulos','Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: initial;
    font-size: 1.5em;
}
/*area info usuario*/
.sidebar-header{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    border-bottom: 1px solid#c0c0c0;
    overflow-x: hidden;
}
.sidebar-header .img-user{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 0.7em;
    border: 1px solid var(--navTextColor);
    border-radius: 2em;
}
.img-user > img{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    object-fit: cover;
}
.sidebar-header .info-user{
    float: left;
}
.info-user >span{
    color: var(--navTextColor);
    display: block;
}
/*area del menu*/
.sidebar-menu{
    padding-top: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 30px;
    color: var(--navTextColor);
    overflow-x: hidden;
}
.sidebar-menu .menu-header{
    font-family: 'titulos','Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.8em;
}
.sidebar-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-menu .dropdown > a{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    font-weight: bold;
}
.dropdown > a i{
    padding-right: 0.5em;
}
.dropdown .submenu{
    display: none;
    padding-left: 1em;
    padding-bottom: 1em;
    position: relative;
}
.submenu li{
    padding-bottom: 1em;
}
.submenu li::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2.1em;
    background-color: rgba(255, 250, 250,1);
    transform: translateX(100%);
    transition: transform 0.4s;
    border-radius: 0.8em 0 0 0.8em;
}
.submenu li:hover::before{
    transform: translateX(0);
}
.submenu .mostrarContenedor{
    position: relative;
    top:0.3em;
    left: 0.3em;
    z-index: 10;
}
.sidebar-menu .extras{
    padding-bottom: 0.5em;
}
/*footer del nav*/
.sidebar-footer{
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--colorIcons);
    padding-left: 1em;
    padding-top: 0.5em;
    background-color: rgba(50, 50, 50, .9);
}
.sidebar-footer i{
    margin-right: 0.5em;
}
/* sección del container */
.container{
    padding-left: 1em;
    background-color: rgba(255, 250, 250, .95);
}
.title{
    text-transform: capitalize;
    font-family: 'titulos','Times New Roman', Times, serif;
}
/* fin seccion del contenedor */
/*medias querys*/
@media screen and (max-width: 768px){
    .grid-container{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
        column-gap: 0px;
        row-gap: 0px;
        grid-template-areas: "gridHeader"
                            "gridContainer";
    }
    .gridMenu{
        display: none;
    }
    .white_bg .btnPerfil{
        display: none;
    }
    .white_bg #spanMenu{
        display: block;
    }
}