body{
    background-image: url(../img/circuito2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
}
/* variables */
:root{
    --colorIcons: #ffffff;
    --navTextColor:rgb(184, 191, 206);
}
/* fuente para titulos */
@font-face{
    src: url(../fonts/romance_fatal_serif/romance_fatal_serif_JC_Fonts.ttf);
    font-family: 'titulos';
}
/*creacion del grid*/
.gridHeader{
    grid-area: gridHeader;
}
.gridMenu{
    grid-area: gridMenu;
    background: rgba(3, 71, 119,.8);
}
.container{
    grid-area: gridContainer;
}
.grid-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: 60px auto;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas: "gridMenu gridHeader"
                        "gridMenu gridContainer" ;          
}
.show{
    display: block;
}
.hide{
    display: none;
}
/*creacion del grid*/
/*seccion del header*/
.gridHeader{
    background: rgb(3,4,94);
    background: -moz-linear-gradient(90deg, rgba(3,4,94,.9) 0%, rgba(0,150,199,0.9) 61%, rgba(72,202,228,.9) 89%);
    background: -webkit-linear-gradient(90deg, rgba(3,4,94,.9) 0%, rgba(0,150,199,.9) 61%, rgba(72,202,228,.9) 89%);
    background: linear-gradient(90deg, rgba(3,4,94,.9) 0%, rgba(0,150,199,.9) 61%, rgba(72,202,228,.9) 89%);
    width: 100%;
}
.header{
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spanMenu{
    display: none;
}
.spanMenu,
.btnPerfil{
    color: var(--colorIcons);
    font-size: 1.8em;
}
.btnPerfil{
    position: relative;
}
.btnPerfil:hover .perfilBox{
    transform: scale(1);
}
.perfilBox{
    position: absolute;
    width: 150px;
    height: 100px;
    padding: 1em 0;
    background: rgb(15,14,14);
    background: linear-gradient(90deg, rgba(15,14,14,.8) 100%, rgba(31,28,28,.8) 100%);
    font-size: .6em;
    text-align: center;
    color: var(--navTextColor);
    right: 0;
    justify-content: center;
    transform: scale(0);
    transition: transform 0.4s;
    z-index: 100;
}
.perfilBox p,a{
    margin: 0;
    text-decoration: none;
    color: var(--navTextColor);
}
.perfilBox hr{
    width: 98%;
}
.perfilBox a:hover{
    color: var(--colorIcons);
}
/* .spanMenu{
    display: none;
} */
.ciencias{
    display: flex;
    align-items: center;
    height: 85%;
    border-radius: 1.5em;
    background-color: rgba(255,255,255,.4);
}
.ciencias img{
    max-height: 100%;
    object-fit: contain;
}
.ciencias h1{
    font-family: 'titulos',cursive,serif;
    font-size: 1.5em;
    text-transform: capitalize;
    color: var(--colorIcons);
}
.colorBlanco{
    color: var(--colorIcons);
}
/*seccion del header*/
/*seccion del nav*/

.sidebar{
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(15,14,14);
    background: linear-gradient(90deg, rgba(15,14,14,.9) 100%, rgba(31,28,28,.9) 100%);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
}
.sidebar a{
    color:var(--navTextColor);
    padding-bottom: 0.5em;
    text-decoration: none;
    transition: color 0.2s;
}
.sidebar a:hover{
    color: var(--colorIcons);
}
.sidebar-content .inicio{
    display: flex;
    position: relative;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid#c0c0c0;
}
.inicio > a{
    font-family: 'titulos','Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: initial;
    font-size: 1.5em;
}
.sidebar-content .btnCerrar{
    display: none;
    position: absolute;
    top:0.3em;
    right: 0.3em;
    border-radius: .1em;
    line-height: 0;
    font-weight: lighter;
    font-size: 1.3em;
    padding: 0.2em;
    transition: background-color 0.2s;
}
.btnCerrar:hover{
    background-color: rgba(211, 211, 211,.3);
}
/*area info usuario*/
.sidebar-header{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    border-bottom: 1px solid#c0c0c0;
    overflow-x: hidden;
}
.sidebar-header .img-user{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 0.7em;
    border: 1px solid var(--navTextColor);
    border-radius: 2em;
}
.img-user > img{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    object-fit: cover;
}
.sidebar-header .info-user{
    float: left;
}
.info-user >span{
    color: var(--navTextColor);
    display: block;
}
/*area del menu*/
.sidebar-menu{
    padding-top: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.8em;
    height: 100%;
    color: var(--navTextColor);
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar-menu .menu-header{
    font-family: 'titulos','Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.8em;
}
.sidebar-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-menu .dropdown > a{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    font-weight: bold;
}
.dropdown > a i{
    padding-right: 0.5em;
}
.dropdown .submenu{
    display: none;
    padding-left: 1em;
    padding-bottom: 1em;
    position: relative;
}
.submenu li{
    padding-bottom: 1em;
}
.submenu li::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2.1em;
    background-color: rgba(255, 250, 250,1);
    transform: translateX(100%);
    transition: transform 0.4s;
    border-radius: 0.8em 0 0 0.8em;
}
.submenu li:hover::before{
    transform: translateX(0);
}
.submenu .mostrarContenedor{
    position: relative;
    top:0.3em;
    left: 0.3em;
    z-index: 10;
    transition: color 0.4s;
}
.submenu .mostrarContenedor:hover{
    color: rgb(15,14,14);
}
.sidebar-menu .extras{
    padding-bottom: 0.5em;
}
/*footer del nav*/
.sidebar-footer{
    border-top: 1px solid var(--colorIcons);
    padding-left: 1em;
    padding-top: 1em;
}
.sidebar-footer i{
    margin-right: 0.5em;
}
/* sección del container */
.container{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 250, 250, .95);
}
.contenedor{
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.title{
    text-transform: capitalize;
    font-family: 'titulos','Times New Roman', Times, serif;
}
/* fin seccion del contenedor */
/* estilos para las tablas */
.tabla{
    width: 100%;
}
.tabla.tablaPrincipal{
    width: 100%;
    max-width: 1017px;
    margin-left: auto;
    margin-right: auto;
}
.tabla table{
    width: 100%;
    border: 1px solid rgba(56,116,166,.9);
    border-collapse: collapse;
    table-layout: auto;
}
.tabla th{
    background: rgba(56,116,166,.9);
    font-family: 'titulos','Times New Roman', Times, serif;
    color: var(--colorIcons);
    transition: background-color 0.4s;
}
.tabla table td{
    text-align: center;
}
.tabla th:hover{
    background-color: rgba(3,4,94,.9);
}
.tabla table tr td{
    text-transform: capitalize;
}
.tabla table tr:nth-child(even){
    background-color: rgba(83, 122, 240, 0.5);
}
.tabla table tr:hover{
    background-color: rgba(31,28,28,.5);
}
.dataTables_filter{
    margin-bottom: 0.5em;
}
/* botones de accion */
.botonAccion{
    display: inline-block;
    width: 32px;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position:relative;
    background-color: rgba(3,4,94,1);
    color: var(--colorIcons);
    border: none;
}
.botonAccion::before,
.botonAccion::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3,4,94,1);
    transform: rotate(60deg);
    transition: transform 0.5s;
}
.botonAccion::after{
    transform: rotate(-60deg);
}
.botonAccion:hover::before{
    transform: rotate(60deg);
}
.botonAccion:hover::after{
    transform: rotate(120deg);
}
.botonAccion span{
    position: relative;
    z-index: 20;
}
.botonAccion.eliminar,
.botonAccion.eliminar::before,
.botonAccion.eliminar::after{
    background-color: crimson;
}
.botonAccion.estatus,
.botonAccion.estatus::before,
.botonAccion.estatus::after{
    background-color: lightseagreen;
}
.botonAccion.kardex,
.botonAccion.kardex::before,
.botonAccion.kardex::after{
    background-color: #3a6d;
}

/*medias querys*/ 
/* @media screen and (max-width: 480px){
    body{
        background-color: red;
    }
}*/
@media screen and (max-width: 600px){
    .tabla table{
        border: 0px;
    }
    .tabla thead{
        display: none;
    }
    .tabla tr{
        margin-bottom: 0.5em;
        padding: 0.5em;
        border: 1px solid rgba(56,116,166,.9);
        border-radius: 1em;
        box-shadow: 2px 5px 5px lightgray, -2px 5px 5px lightgray;
        display: block;
    }
    .tabla table tr:hover{
        background-color: initial;
    }
    .tabla td{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tablaPrincipal td::before{
        display: block;
        font-weight: bold;
        align-self: flex-start;
        margin-right: 0.5em;
    }
    .tablaPrincipal td:first-child::before{
        content: "Matricula";
        
    }
    .tablaPrincipal td:nth-child(2)::before{
        content: "Nombre";
        
    }
    .tablaPrincipal td:nth-child(3)::before{
        content: "ApellidoPaterno";
        
    }
    .tablaPrincipal td:nth-child(4)::before{
        content: "Apellido Materno";
        
    }
}
/*
@media screen and (max-width: 1070px){
    .tablaPrincipal td:nth-child(5),th:nth-child(5){
        display: none;
    }
    .tablaPrincipal td:nth-child(6),th:nth-child(6){
        display: none;
    }
} */
@media screen and (max-width: 1340px){
    .grid-container{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60px auto;
        column-gap: 0px;
        row-gap: 0px;
        grid-template-areas: "gridHeader"
                            "gridContainer";
    }
    .spanMenu{
        display: block;
    }
    .sidebar-content .btnCerrar{
        display: block;
    }
    .tituloComputacion{
        display: none;
    }
    .sidebar{
        transform: translateX(-260px);
        transition: transform 0.5s;
    } 
} 
